body
{
    font-family: 'Calligraffitti', cursive;
    background: lightskyblue;
}
.header_div
{
    background: white;
    color: red;
}
.header_div img
{
    width: 100px;
}
.main_div
{
    background: lightskyblue;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

#camera,#result
{
    border: 2px solid white;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px white;
}
.main_div button
{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}

.main_div label
{
    width: 310px;
    background: white;
    box-shadow: 5px 5px 18px white;
    padding: 10px;
    margin-bottom: 0px;
}

.footer_div{
    margin-bottom: 50px;
}

.footer_div h4{
    background: white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}

.footer_div img{
    width: 70px;

}

.copy_right_footer{
    font-family: 'Lobster Two', cursive;
    position: fixed;
    color: green;
    bottom: 0%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.822);
    line-height: 3px;
    text-align: center;
}